/* Add this CSS to your global stylesheet or use a CSS-in-JS solution */

/* FullCalendar header buttons */

.css-1vba8ai {
  margin: 20px;
  padding: 30px;
  background-color: var(--bg-color) !important;
  border-radius: 5px !important;
  box-shadow: 0px 1px 8px rgb(0 0 0) !important;
  border: 1px solid var(--bg-color) !important ;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.fc-button {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px 10px !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  box-shadow: 0px 2px 5px rgba(55, 30, 220, 0.3) !important;
  transition: all 0.3s ease-in-out !important;
  margin: 0px 2px !important;
}

.fc-button:hover {
  background-color: var(--primary-color) !important;
  box-shadow: 0px 4px 8px rgba(55, 30, 220, 0.4) !important;
}

.fc-button:disabled {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  cursor: not-allowed !important;
}

/* FullCalendar active button (like 'today') */
.fc-button-active {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-weight: bold !important;
}

/* Calendar title styling */
.fc-toolbar-title {
  color: var(--primary-text-color) !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}
