:root {
  --primary-color: #371edc;
  --bg-grey-color: #f1f1f1;
  --bg-light-green-color: #49b34b;
  --bg-golden-color: #d1c303;
  --secondary-color: #777eff;
  --background-color: #f8f0fb;
  --accent-color: #fe4203;
  --white-color: #fff;
  --font-family: "Poppins", serif !important;
}
