@import "../../../global.css";

.banner {
  background-color: var(--bg-grey-color);
  margin: 20px 20px 0px 20px;
  border-radius: 20px;
}

/*  Heading styles */
.heading h2 {
  font-size: 96px;
  font-weight: 200;
  line-height: 115px;
}
.heading h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  padding: 0px 50px;
}

/* General card styles */
.option-card {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for selected cards */
.option-card.selected {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

/* Get Started button */
.btn-get-started {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-get-started:hover {
  background-color: var(--primary-color);
}

/* Banner image */
.image img {
  width: 100%;
  border-radius: 20px;
}
